beautifulsoup4
certifi
fake-useragent
ftfy
geoip2
git+https://github.com/oddluck/cobe.git
html5lib
httplib2
imgurpython
jinja2
limnoria
lxml
markovgen
numpy
oauth2
pendulum
pexpect
pillow
pyimgur
pylyrics3
pytest
python-dateutil
pytz
requests
roman_numerals
textdistance[extras]
timeout-decorator
