beautifulsoup4
ftfy
geoip2
git+https://github.com/oddluck/cobe.git
html5lib
httplib2
jinja2
limnoria
lxml
numpy
pendulum
pexpect
pillow
pyimgur
pylyrics3
pytest
requests
requests_oauthlib
roman_numerals
textdistance[extras]
unidecode
