<FilesMatch ".\.db">
    Order Allow,Deny
    Deny from all
</FilesMatch>
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^(.+/|/?)(css|js|fonts|img)/
RewriteRule ^(.*)$ app.php [NC,L]
