body {
  padding-top: 40px;
}
.strong-text {
  color: inherit;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}
.profile-header h1 {
  font-size: 30px;
  line-height: 30px;
}
.profile-header {
  padding: 30px 14px;
  background-color: #f0f0f0;
  border-radius: 6px 6px 6px 6px;
  color: inherit;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  margin-bottom: 10px;
  margin-right:0px;
  margin-left:0px;
}
.padded-row {
  margin-top: 60px;
  margin-bottom: 60px;
}
.breakable {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}
.modal-table tbody tr:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-height: 600px) {
  .modal-body {
    max-height: 340px;
  }
}
@media screen and (max-height: 520px) {
  .modal-body {
    max-height: 260px;
  }
}
@media screen and (max-height: 438px) {
  .modal-body {
    max-height: 200px;
  }
}
@media screen and (max-height: 370px) {
  .modal-body {
    max-height: 150px;
  }
}
@media screen and (max-height: 320px) {
  .modal-body {
    max-height: 70px;
  }
}
